LIVE_DB_HOST=db-live:3306
LIVE_DB_NAME=n9_live
LIVE_DB_USER=wp_live
LIVE_DB_PASSWORD_ENV=WP_LIVE_DB_PASSWORD
LIVE_WP_HOME=https://nuevecuatrouno.test
LIVE_WP_SITEURL=https://nuevecuatrouno.test

ARCHIVE_DB_HOST=db-archive:3306
ARCHIVE_DB_NAME=n9_archive
ARCHIVE_DB_USER=wp_archive
ARCHIVE_DB_PASSWORD_ENV=WP_ARCHIVE_DB_PASSWORD
ARCHIVE_WP_HOME=https://nuevecuatrouno.test
ARCHIVE_WP_SITEURL=https://nuevecuatrouno.test

ADMIN_LIVE_DB_HOST=db-live:3306
ADMIN_LIVE_DB_NAME=n9_live
ADMIN_LIVE_DB_USER=wp_live
ADMIN_LIVE_DB_PASSWORD_ENV=WP_LIVE_DB_PASSWORD
ADMIN_LIVE_WP_HOME=https://nuevecuatrouno.test
ADMIN_LIVE_WP_SITEURL=https://nuevecuatrouno.test

ADMIN_ARCHIVE_DB_HOST=db-archive:3306
ADMIN_ARCHIVE_DB_NAME=n9_archive
ADMIN_ARCHIVE_DB_USER=wp_archive
ADMIN_ARCHIVE_DB_PASSWORD_ENV=WP_ARCHIVE_DB_PASSWORD
ADMIN_ARCHIVE_WP_HOME=https://archive.nuevecuatrouno.test
ADMIN_ARCHIVE_WP_SITEURL=https://archive.nuevecuatrouno.test
